
html, body, div, h1, h2, h3, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, table, th, td { margin: 0; padding: 0; }
html {overflow:auto;}
img {border: none; }
pre {overflow:auto; width:90%; }

body {
    font: 14px/170% 'Microsoft YaHei', '微软雅黑', 'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
    min-width:920px;
    color: #a7a7a7;
    margin: 0;  padding: 0;
    background:#140330 url(./bg.png) no-repeat center top;
}
a, a:visited, a:active {
    text-decoration:none;
    color:#6633ff;
    border:none;
    outline: none;
    -webkit-transition:all .5s;
    -o-transition:all .5s ;
    -moz-transition:all .5s;
}
a:hover {
    text-decoration:underline;
    color:#9966ff;
}
h1, h2, h3 {
    font-family: 'Microsoft YaHei', '微软雅黑', 'Trebuchet MS', Helvetica, Tahoma, Arial, Sans-serif;
}
h1 {
    font-size: 3.0em;
    letter-spacing: -2px;
    padding: 15px 10px 5px 10px;
}
h2 {
    font-size: 1.8em;
    padding: 15px 10px 5px 10px;
}
h3 {
    font-size: 1.3em;
    font-weight: normal;
    padding: 10px;
}
p { padding: 10px; margin: 0; }
ul { list-style: none; }

input, select, textarea {
    margin: 5px 0;
    font: normal 1em  'Microsoft  YaHei', '微软雅黑', Verdana, Tahoma, sans-serif;
}
option { padding-right: 0.5em; }
input.button {
    font: bold 12px   'Microsoft  YaHei', '微软雅黑', Arial, Verdana, Sans-serif;
    height: 30px;
    padding: 2px 3px;
    margin-top: 8px;
}

#wrap { width:920px; margin:0 auto; position:relative;}

#header { width:920px; height:260px;}

#logo {
    width:400px; height:110px;
    position:absolute; left:20px; top:50px;
    background:url(./logo.png) no-repeat;
    _background: none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='corp', src='./logo.png');
    cursor:pointer;
}
#logo  a {
    display:block;
    width:400px; height:110px;
}

#like {
    width:72px; height:76px;
    position:absolute; top:0px; right:10px;
    background:url(./like.png) no-repeat center top;
    _background: none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='corp', src='like.png');
    text-align:center;
}
#like a {
    margin:0 auto;
    display:block;
    width:35px; height:76px;
}
#share {
    position:absolute; top:-33px; right:0px;
    background:#330099;
    border:1px solid #6633cc;
    filter:alpha(opacity=80); -moz-opacity:0.8; -khtml-opacity: 0.8; opacity: 0.8;
    z-index:1;
    padding:5px;
    padding-bottom:0;
}
#share img { margin:2px; }

#inputSection , #progressSection {position:relative; left:150px; width:640px; height:170px;}
#location_0 { position:relative; left:150px; width:640px;}

#inputSection {
    background:url(./inputbox.png) no-repeat;
    _background: none;
    _background:url(./inputbox.gif) no-repeat;
    padding-left:110px; left:180px; top:10px;
}

#switchUntil {
    position:absolute;
    right:652px;
    top:16px;
    width:39px;
    height:33px;
    background:url(./switchuntil.png) no-repeat 0 0;
    cursor:pointer;
}

.input-box {
    height:26px; width:50px;
    margin-top:19px; margin-right:60px;
    border:none;
    background:transparent; color:black;
    text-align:center;
    font: 16px/170% 'Microsoft YaHei', '微软雅黑', 'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
}
@-webkit-keyframes bigAssButtonPulse {
    from { background-color: #749a02; -webkit-box-shadow: 0 0 15px #333; }
    50% { background-color: #91bd09; -webkit-box-shadow: 0 0 30px #91bd09; }
    to { background-color: #749a02; -webkit-box-shadow: 0 0 15px #333; }
}
#ok-button {
    position:absolute; left:433px; top:17px;
    width:119px;
    height:32px;
    background:url(./okbtn.png) no-repeat;
    _background: none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='corp', src='./okbtn.png');
    cursor:pointer;
}
#ok-button:hover{
    -webkit-animation-name: bigAssButtonPulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}
#additionSettings {
    background:url(./inputbox2.png) no-repeat;
    height:40px;
    margin-top:30px;
    margin-left:50px;
}
#switchNoLoop {
    position:absolute;
    right:492px;
    top:85px;
    width:94px;
    height:33px;
    background:url(./switchnoloop.png) no-repeat 0 0;
    cursor:pointer;
}
#setPrompt-button {
    height:34px;
    width:120px;
    cursor:pointer;
    margin-top:5px;
    margin-left:105px;
}
#promptTextSetter {
    color:gray;
    font-size:13px;
}
#promptText {
    border:3px solid #3f82d1;
    width:410px;
    outline: none;
    font: 14px/160% 'Microsoft YaHei', '微软雅黑', 'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
    padding:2px;
}
#promptTextSetter #okSetPrompt {
    color: white;
    padding: 3px 15px;
    border: solid #9A9A9A 1px;
    text-decoration:none;
    background: #009FCC;
    cursor:pointer;
}
#promptTextSetter #okSetPrompt:hover {
    background:#7bbd07;
}
#progressBox{
    position:absolute; z-index:2;
    width:620px; height:160px;
    background:url(./progressbox.png?v10) no-repeat;
    _background: none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='corp', src='./progressbox.png');
}
#progressBar {
    position:absolute; z-index:1;
    height:29px;
    top:11px; left:12px;
    background:url(./progress.gif) repeat-x;
    _background: none;
    _background:url(./progress.jpg) repeat-x;
}
#progressText {
    position:relative;  z-index:3; top:75px; left:-5px;
    color:white;
    font-size:34px; font-weight:bold; text-align:center;
    text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
}
#cancelTimingBtn {
    position:relative; z-index:3;
    background:url(./canceltiming.gif) no-repeat;
    top:105px;
    left:255px;
    height:40px;
    width:114px;
}
#cancelTimingBtn a {display:block; height:40px; width:114px;}

#quickAccessSection {
    margin:0 100px; height:200px;
    padding-top:20px;
    margin-bottom:20px;
}
#quickAccess-left {
    width:370px;
    padding:10px;
    float:left;
    text-align:right;
}
#quickAccess-right {
    font-size:16px;
    margin:10px auto;
    width:180px;
    padding:10px;
    float:left;
}
#quickAccess-right ul li {
    display:block;
    padding:2px;
}
#createNewTimer {
    margin-bottom:5px;
    background:#1e004a;
    border-radius:5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
#createNewTimer  a:hover {
    text-decoration:none;
    padding-left:5px;
}
#getChromeExt{
    margin-bottom:5px;
    background:#1e004a url(https://chrome.google.com/extensions/images/chrome-16.png) no-repeat 135px 7px;
    border-radius:5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
#getChromeExt  a:hover {
    text-decoration:none;
    padding-left:5px;
}
.blog_post h3 {
    position:relative;
    z-index:2;
    padding: 5px 12px;
    margin:0;
    font: 1.8em 'Microsoft YaHei', '微软雅黑', 'Trebuchet MS', Tahoma, Helvetica, Arial, sans-serif;
    display:block;
    font-weight:500;
}
.blog_post h3 a {color:#e3e7e7;}
.blog_post h3 a:hover { text-decoration:underline; color:#e3e7e7;}
.post_wrapper .date {
    position:relative;
    z-index:1;
    left:-60px;
    height:14px;
    font-size:.95em; padding:0px; padding-left: 70px; padding-top:25px;
    margin-top:-28px;
}
#comments,#comment_form_area { padding:15px;}
.submit_wrapper input {
    cursor:pointer;
    font: 1.0em 'Microsoft YaHei', '微软雅黑', 'Trebuchet MS', Tahoma, Helvetica, Arial, sans-serif;
    padding: 4px 10px;
    color: white; background: #007D9A;
    border:dotted #9a9a9a 1px;
    border-radius:5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #31aad6),color-stop(1.0, #2580a2));
    background: -moz-linear-gradient(top, #31aad6 0%, #2580a2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#31aad6,endColorstr=#2580a2);
    transition:all .5s;
    -moz-transition:all .5s;
    -o-transition:all .5s ;
}
.submit_wrapper input:hover{
    background: #2daebf;
    -webkit-animation-name: bluePulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}
.comment.owner{background:transparent; border:none; border-bottom: 1px dotted #ddd;}
.metadata {
    padding: 7px 5px; margin: 15px 10px 25px 10px;
    font-size: 1em;
    min-height:2.0em;
}
.metadata .category { display:none; }
.metadata .comments {
    float:right;
    margin: 0 10px 0 5px;
    padding-left:20px;
}
.metadata .tags {display:none;}

.popupContent {
    display:none;
    position:fixed;
    top: 10%;
    left: 20%;
    width: 450px;
    background: white;
    z-index: 1000;
    padding: 20px;
    color: #333;
}
#mask {
    display:none;
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 999;
}
/*ie6 fixed position*/
html{_overflow:hidden;}
body{_height:100%; _overflow:auto;}
.popupContent{_position:absolute;}
#mask{_position:absolute;}